<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>sendMailEditor</string>
	<key>CFBundleExecutable</key>
	<string>sendMailEditor</string>
	<key>CFBundleIconFile</key>
	<string>generated-fc0b42ad3fce4b7b2d71ee7c0c3703ea40853e379f25ed6af5bb05dec1c8c8c0.icns</string>
	<key>CFBundleIdentifier</key>
	<string>be.sendmail.editor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sendMailEditor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
</dict>
</plist>
